.jm-us {
  display: flex;
}

.jm-us-group {
  flex: 1;
}

.jm-us-group:not(:first-child) {
  margin-left: 1em;
}

.jm-us-group__main {
  border: 1px solid #d0d0d0;
  padding: 10px 10px 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.jm-us-group__main.user-search-panel {
  width: 485px;
  flex-shrink: 0;
}

.jm-us-group__main.tenement-search-panel {
  width: 260px;
}

.jm-us-group__main.selected {
  overflow-x: hidden;
}

.jm-us-group__main.grow {
  flex: 1;
}

.jm-us-group__header {
  flex-shrink: 0;
  margin-top: -10px;
  margin-bottom: 3px;
}

.jm-us-group__header .ant-form {
  white-space: nowrap;
}

.jm-us-group__container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.jm-us-group__container h3 {
  font-size: 14px;
}

.jm-us-group__container h3:not(:first-of-type) {
  margin-top: 1em;
}

.jm-us-group__container h3 a {
  float: right;
}

.jm-us-containers {
  display: flex;
  flex: 1;
}

.jm-us-container {
  height: 100%;
  flex: 1;
  min-width: 230px;
  padding: 5px 10px;
}

.jm-us-container:not(:first-child) {
  border-left: 1px solid #d0d0d0;
}

/* 默认 */

.jm-us-group__container .jm-us-container__body {
  height: 560px;
}

/* 显示container header时的适配高度 */

.jm-us-group__container .jm-us-container__header + .jm-us-container__body {
  height: 520px;
}

/*显示group header*/

.jm-us-group__header ~ .jm-us-group__container .jm-us-container__body {
  height: 500px;
}

.cross-tenement-search-panel {
  margin-bottom: 0.6em;
}

.cross-tenement-search-panel
  ~ .user-search-panel
  .jm-us-group__header
  ~ .jm-us-group__container
  .jm-us-container__body {
  height: 460px;
}

.cross-tenement-search-panel
  ~ .user-search-panel
  .jm-us-group__header
  ~ .jm-us-group__container
  .jm-department-filter__wrapper
  ~ .jm-us-container__body {
  height: 436px;
}

/*显示group header + container header*/

.jm-us-group__header
  ~ .jm-us-group__container
  .jm-us-container__header
  + .jm-us-container__body {
  height: 480px;
}

.jm-us-container__body {
  overflow: auto;
}

.jm-us-group__main.selected .jm-us-container__body {
  height: 544px !important;
  overflow-x: hidden;
}

.jm-us-group__main .ant-tag {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  padding-right: 18px;
}

.jm-us-group__main .ant-tag .anticon {
  position: absolute;
  right: 3px;
  top: 6px;
}

.jm-us-container__footer {
  text-align: right;
}

.jm-us-container__body .ant-checkbox-group {
  display: flex;
  flex-direction: column;
}

.jm-us-checkbox {
  padding: 3px 5px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jm-us-checkbox.selected {
  background-color: #bae7ff;
}

.jm-us-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.jm-us-footer .buttons {
  margin-left: 0.8em;
}

/* 用户搜索器 */

.jm-user-search {
  display: inline-block;
  min-width: 150px;
  position: relative;
}

.jm-user-search .ant-select {
  width: 100%;
}

.jm-user-search .loading-icon {
  position: absolute;
  color: #1890ff;
  font-size: 19px;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  background: #ffffff;
}

.jm-user-search__error {
  color: #ff4444;
  text-align: center;
}

.jm-user-search__error .anticon {
  margin-right: 0.5em;
}

.jm-department-filter__wrapper {
  display: flex;
}

.jm-department-filter {
  flex: 1;
}

.jm-department-filter__button {
  margin-left: 1em;
}

.jm-department-filter .anticon {
  color: #c1c1c1;
}

.jm-department-filter .ant-input {
  border: none;
  border-radius: 0;
  border-bottom: 1px dashed #d0d0d0;
}

.jm-department-filter .ant-input:focus,
.jm-department-filter .ant-input:hover {
  box-shadow: unset;
  border-bottom: 1px solid #1890ff;
}

.jm-matching {
  display: inline-block;
  background-color: #ffffa8;
}

.jm-user-combobox .ant-select-search__field {
  border: none !important;
}

.jm-user-combobox .ant-select-selection__rendered {
  margin-left: 0;
  margin-right: 0 !important;
}

.jm-user-combobox .anticon-loading {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
}

.jm-us-container__search-result {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 24px;
  bottom: 0;
  padding: 5px;
  z-index: 1;
  background: white;
}

.jm-us-checkbox.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
