.jm-icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.jm-icon.loading {
  animation: loadingCircle 1s infinite linear;
}

@keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}