.jm-layout {
  display: flex;
  height: 100%;
}

.jm-layout__nav {
  width: 256px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: width 0.2s;
}

.jm-layout__nav.collapsed {
  width: 80px;
}

.jm-layout__nav-menu {
  flex: 1;
}

.jm-layout__body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.jm-layout__header {
  height: 65px;
  line-height: 65px;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #f0f2f5;
  justify-content: space-between;
  flex-shrink: 0;
}

.jm-layout__actions .jm-layout__actions:hover,
.jm-layout__actions:active {
  color: inherit;
}

.jm-layout__actions {
  margin: 0 24px;
}

.jm-layout-avatar {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-right: 0.5em;
}

.jm-layout__logo {
  background-color: #00284d;
  color: white;
  height: 65px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 24px;
}

.jm-layout__logo>img {
  width: 32px;
  height: 32px;
}

.jm-layout__logo>span {
  margin-left: 0.7em;
  white-space: nowrap;
}

.jm-layout__logo.collapsed>span {
  display: none;
}

.jm-layout__trigger,
.jm-layout__title {
  height: 100%;
  line-height: 65px;
}

.jm-layout__trigger {
  font-size: 18px;
  padding: 0 24px;
  cursor: pointer;
}

.jm-layout__avatar {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-right: 0.5em;
}

.jm-scroll-view {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.jm-header-bar {
  display: flex;
  width: 100%;
  min-height: 58px;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  background-color: white;
}

.jm-body {
  margin: 25px;
  background-color: white;
  border-radius: 5px;
  padding: 20px 25px;
}