.jm-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.jm-layout__main {
  position: relative;
  height: 100%;
  flex: 1;
  display: flex;
}

.jm-layout__main.freeze {
  filter: blur(0.8px) grayscale(65%) brightness(0.9);
}

.jm-layout__main.freeze::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 11;
}

.jm-layout__nav {
  width: 256px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: width 0.2s;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  z-index: 10;
}

.jm-layout__nav.collapsed {
  width: 80px;
}

.jm-layout__nav-menu {
  flex: 1;
}

.jm-layout__right {
  margin-right: 1em;
}

.jm-layout__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  overflow: hidden;
}

.jm-layout__header {
  height: 65px;
  line-height: 65px;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #f0f2f5;
  justify-content: space-between;
  flex-shrink: 0;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  z-index: 9;
}

.jm-layout__avatar {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-right: 0.5em;
}


.jm-layout__logo {
  background-color: #00284d;
  color: white;
  height: 65px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 24px;
}

.jm-layout__logo>img {
  width: 32px;
  height: 32px;
}

.jm-layout__logo>span {
  margin-left: 0.7em;
  white-space: nowrap;
}

.jm-layout__logo.collapsed>span {
  display: none;
}

.jm-layout__trigger,
.jm-layout__title {
  height: 100%;
  line-height: 65px !important;
}

.jm-layout__trigger {
  font-size: 19px;
  padding: 0 24px;
  cursor: pointer;
}

.jm-layout__title {
  margin-left: 0.5em;
}

.jm-layout__action {
  padding: 0 12px;
  display: inline-block;
  cursor: pointer;
}

.jm-layout__trigger:hover,
.jm-layout__action:hover {
  background-color: #e6f7ff;
}

.jm-layout__avatar {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-right: 0.5em;
}

.jm-scroll-view {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.jm-header-bar {
  display: flex;
  width: 100%;
  min-height: 58px;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  z-index: 9;
}

.jm-body {
  margin: 25px;
  background-color: white;
  border-radius: 5px;
  padding: 20px 25px;
}

.ant-menu-submenu-title>a,
.ant-menu-submenu-title>a:hover,
.ant-menu-submenu-title>a:active,
.ant-menu-submenu-title>a:focus {
  color: rgba(255, 255, 255, 0.65);
  text-decoration: none;
}

/* extends antd */

.ant-menu-submenu-selected>.ant-menu-submenu-title>a {
  color: #fff;
}