.jm-search-form {
  margin-bottom: 0.5em;
}

.jm-table .matched {
  background: yellow;
}

.jm-table__empty-column {
  height: 1px;
  background-color: #afafaf;
  display: inline-block;
  width: 50px;
  vertical-align: middle;
}

.jm-table-actions {}

.jm-table-actions>a:not(:first-child) {
  margin-left: 0.8em;
}

.jm-table-action.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ant-table-thead th {
  white-space: nowrap;
}

@keyframes error {
  0% {
    background: #ffbfbf;
    opacity: 1;
  }

  25% {
    background: #ff3c3c;
    opacity: 0.8;
  }

  50% {
    background: #ffbfbf;
    opacity: 1;
  }

  75% {
    background: #ff3c3c;
    opacity: 0.8;
  }

  100% {
    background: #ffbfbf;
    opacity: 1;
  }
}

.jm-table__row.error {
  animation: error 1s ease 0.5s;
  background: #ffbfbf;
}

.jm-table .prevent-fixed .ant-table-fixed-right,
.jm-table .prevent-fixed .ant-table-fixed-left {
  display: none;
}